*{
    margin:0;
    padding:0;
    text-decoration: none;
    color:white;
}
html,body{
    min-height: 100%;
}
body{
    background:  radial-gradient(at top left  ,  rgb(27, 153, 211) 0% , rgba(3, 18, 134, 0.774) 100% );
    background-repeat: none;
}
.layout{
    max-width:1200px;
    align-self: center;
    margin:0 auto;
}
nav{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:40px auto;

}
nav .links{
    display:inline-block;
    text-align: right;
}
nav a {
    display: inline-block;
    margin-left:20px;
    font-weight:400;
    padding-bottom:8px;
    border-bottom:3px solid transparent;
    transition: all .2s ;
}
nav a:hover{
    border-color: white;
}
footer p {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 50px auto;
    opacity:.4;
}
p{
    margin:20px auto;
    line-height:1.5em;
}